<div class="flex flex-col px-20 py-10">
    <h1 class="text-3xl font-bold text-violet-950 mb-4">
        {{ isAdd ? 'Adicionar' : 'Editar' }} Usuário
    </h1>

    <form [formGroup]="form" class="flex flex-col" (ngSubmit)="onSubmit()">
        <div *ngFor="let field of formConfig" class="flex flex-col mb-4 w-200">
            <label [for]="field.controlName"
                [ngClass]="{'text-red-500': form.get(field.controlName)?.invalid && form.get(field.controlName)?.touched}">{{
                field.label }}:</label>
            <input [id]="field.controlName" [formControlName]="field.controlName" [type]="field.type"
                [placeholder]="field.placeholder"
                class="border border-gray-300 rounded-lg px-4 py-2 pointer-events-auto focus:outline-none focus:ring-2 focus:ring-violet-500 focus:border-transparent"
                [ngClass]="{'border-red-500 caret-red-500 focus:ring-red-500': form.get(field.controlName)?.invalid && form.get(field.controlName)?.touched}" />

            <span *ngIf="form.get(field.controlName)?.invalid && form.get(field.controlName)?.touched"
                class="text-red-500 text-sm">
                {{ parseError(form.get(field.controlName)?.errors) }}.
            </span>
        </div>

        <section class="block py-6 mt-4">
            <button
                class="text-white font-semibold px-6 py-3 rounded-lg shadow transition mb-4 w-200 hover:cursor-pointer"
                [ngClass]="{'bg-gray-400 cursor-not-allowed': form.invalid, 'bg-violet-500 hover:bg-violet-800': !form.invalid}"
                [disabled]="form.invalid" type="submit">
                Salvar
            </button>
        </section>
    </form>

    <section class="block py-6">
        <a class="bg-white text-violet-500 font-semibold px-6 py-3 rounded-lg shadow hover:bg-gray-100 transition mb-4 w-200"
            routerLink="/" routerLinkActive="active">Voltar</a>
    </section>
</div>