<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let field of formConfig">
        <label [for]="field.controlName">{{ field.label }}:</label>
        <input [id]="field.controlName" [formControlName]="field.controlName" [type]="field.type"
            [placeholder]="field.placeholder" />

        <span *ngIf="form.get(field.controlName)?.invalid && form.get(field.controlName)?.touched">
            {{ parseError(form.get(field.controlName)?.errors) }}.
        </span>
    </div>

    <button [disabled]="form.invalid" type="submit">Salvar</button>
</form>

<a routerLink="/" routerLinkActive="active">Voltar</a>