name: Build Images

on:
  push:
    branches:
      - main

jobs:
  unit-test-backend:
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          java-version: '21'
          distribution: 'temurin'
      
      - name: Make gradlew executable
        run: chmod +x backend/gradlew
      
      - name: Run backend unit tests
        run: cd backend && ./gradlew test

  build:
    needs: unit-test-backend
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          dockerfile: ./Dockerfile
          push: false
          tags: docker.io/cadastrei-usuarios-backend:latest

  smoke-test:
    needs: build
    if: github.event_name == 'push' || (github.event_name == 'pull_request' && github.event.pull_request.merged == true)
    runs-on: ubuntu-latest
    
    steps:

      - name: Start containers
        run: docker compose -f compose.db.yml -f compose.yml up -d

      - name: Wait for app
        run: |
          echo "Waiting for app..."
          for i in {1..30}; do
            if curl -f http://localhost:8080/users; then
              echo "App is up!"
              exit 0
            fi
            sleep 5
          done
          echo "App did not start"
          docker compose -f compose.db.yml -f compose.yml logs
          exit 1

      - name: Stop containers
        if: always()
        run: docker compose -f compose.db.yml -f compose.yml down
